@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$fontOF: "Outfit", sans-serif;
// $of-400: 400;
// $of-700: 700;

$white: hsl(0, 0%, 100%);
$lt-gray: hsl(212, 45%, 89%);
$gr-blue: hsl(220, 15%, 55%);
$dr-blue: hsl(218, 44%, 22%);
